<h1><%= facade.search_results.length %> Results</h1>
<% facade.search_results.each_with_index do |food, i| %>
  <section id="food-<%= i + 1 %>">
    <section class='ndb_number'>
      <p><%= food.ndb_number %></p>
    </section>
    <section class='name'>
      <p><%= food.name %></p>
    </section>
    <section class='category'>
      <p><%= food.category %></p>
    </section>
    <section class='data_source'>
      <p><%= food.data_source %></p>
    </section>
    <section class='manufacturer'>
      <p><%= food.manufacturer %></p>
    </section>
  </section>
  <% break if i == 9 %>
<% end %>
